body{
    background-image: url(imagenes/estrellado.jpeg);
    margin: 0;
    padding: 0;
}
form{
    padding: 10px;
    color: white;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    border: 5px solid rgb(4, 62, 83);
}
form input {
    padding: 20px;
    margin-bottom: 20px;
    outline: none;
    border: none;
    /* background-color: #ccc; */
}
label{
    padding: 10px;
    font-weight: bold;
    background-color: black;
    color: white;
    border-radius: 5px;
}
label:hover{
    /* background-color: rgb(0, 0, 0); */
    cursor: pointer;
}
input{
    background-color: #333;
    color: white;
}
input:hover{
    background-color: rgb(77, 239, 77);
    color: black;
    cursor: pointer;
}